<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>
<body>
<% include partials/nav.ejs %>
<h1>Welcome to node page</h1>
<p>This is node tutorial page</p>
</body>
</html>
